<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" tools:node="remove"/>
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
  <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:node="remove"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove"/>
  <uses-permission android:name="com.android.vending.BILLING"/>
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="https"/>
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true" android:enableOnBackInvokedCallback="false" android:fullBackupContent="@xml/secure_store_backup_rules" android:dataExtractionRules="@xml/secure_store_data_extraction_rules">
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="${GOOGLE_MAPS_API_KEY}"/>
    <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="true"/>
    <meta-data android:name="expo.modules.updates.EXPO_RUNTIME_VERSION" android:value="@string/expo_runtime_version"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH" android:value="ALWAYS"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0"/>
    <meta-data android:name="expo.modules.updates.EXPO_UPDATE_URL" android:value="https://u.expo.dev/64489ed7-a8c0-41de-91ec-5846ea79a27f"/>
    <meta-data android:name="expo.modules.updates.UPDATES_CONFIGURATION_REQUEST_HEADERS_KEY" android:value="{&quot;expo-channel-name&quot;:&quot;production&quot;}"/>
    <activity android:name=".MainActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan" android:theme="@style/Theme.App.SplashScreen" android:exported="true" android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="varsityhubmobile"/>
      </intent-filter>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/posts"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/games"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/teams"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/users"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/events"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/join"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/share"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/verify"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/verify-email"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/reset-password"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/settings/manage-subscription"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/admin-dashboard"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/admin-ads"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/organization-join-requests"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/team-hub"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/create-fan-event"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/event-detail"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/payment-success"/>
        <data android:scheme="https" android:host="varsityhub.app" android:pathPrefix="/payment-cancel"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/posts"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/games"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/teams"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/users"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/events"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/join"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/share"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/verify"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/verify-email"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/reset-password"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/settings/manage-subscription"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/admin-dashboard"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/admin-ads"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/organization-join-requests"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/team-hub"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/create-fan-event"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/event-detail"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/payment-success"/>
        <data android:scheme="https" android:host="www.varsityhub.app" android:pathPrefix="/payment-cancel"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/posts"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/games"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/teams"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/users"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/events"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/join"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/share"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/verify"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/verify-email"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/reset-password"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/settings/manage-subscription"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/admin-dashboard"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/admin-ads"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/organization-join-requests"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/team-hub"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/create-fan-event"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/event-detail"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/payment-success"/>
        <data android:scheme="https" android:host="app.varsityhub.app" android:pathPrefix="/payment-cancel"/>
      </intent-filter>
    </activity>
    <uses-library android:name="org.apache.http.legacy" android:required="false"/>
  </application>
</manifest>
